body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}




.header {
    background: white;
    height: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.header__logo {
    
    height: 30px;
    margin: auto;
}



.localisation {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.explorer {
    background: whitesmoke;
    padding: 10px 50px 50px 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.explorer__titre {
    
    padding : 0px 15px 0px 15px ;
    
}

.explorer__texte {
    
    padding: 0px 15px 25px 15px ;
    
}

.explorer__bouton {
    
    color: white;
    padding: 15px 20px 15px 20px;
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    margin: auto;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}




.fonctionnement {
    
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.fonctionnement__titre {
    
    padding-bottom: 5px;
}

.fonctionnement__card {
    background: #f6f6f6 ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    
}

.fonctionnement__numero {
    background: #9356DC;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -14px;
}

.fonctionnement__icone {
    font-size: 25px;
    color: #7E7E7E;
}

.fa-store {
    color: #9356DC;
}




.restaurants {
    background: #f6f6f6;
}

.restaurants__titre {
    font-weight: 800;
    padding-left: 25px;
    margin-bottom: 15px;
    padding-top: 70px;
}

.restaurants__card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.restaurants__vignette {
    
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    position: relative;
    
    
}

.restaurants__image {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    
}

.restaurants__nouveau {
    
    background: #99E2D0;
    color: #008766 ;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    top: 15px;
    
    
}

.restaurants__texte {
    padding-left: 25px;
    position: relative;
    
}

.coeur {
    font-size: 24px;
    position: absolute;
    right: 25px;
    bottom: 35px;
    
}






.logo__footer {
    font-family: 'Shrikhand', cursive;
}
