body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

.header__logo {
    
    height: 40px;
    margin: auto;
    
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    margin-top: -30px;
    position: relative;
    border-radius: 40px 40px 0 0;
    padding-bottom: 40px;
    
}

.menu__photo {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.menu__titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Shrikhand', cursive;
    
}

.menu__titre h1 {
    font-size: 28px;
    font-weight: normal;
    
}

.menu__icone {

    font-size: 24px;
    
}



.menus {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 35px;
}


.menus__complets {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menus__titre {
    font-size: 16px;
    font-weight: 350;
    padding-top: 20px;
    position: relative;
}

.menus__titre::after {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #99e2d0;
    position: absolute;
    bottom: -12px;
    left: 0;
}


.menus__cartes {
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.menus__infos {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap

}

.menus__plats {
    margin: 5px;
}

.menus__details { 
    font-size: 15px;
    margin: 5px;
}

.menus__prix {    
    font-weight: bold;
}



.menus__animation:hover {
    width: 65px;
    height: 75px;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.commander {
    color: white;
    padding: 16px 48px 16px 48px;
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    margin: auto;
    border-radius: 30px;
    font-size: 16px;
    font-weight: normal;
}



/** Footer menu **/

.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
}

.footer__logo {
    padding: 20px;
    margin: 0;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}

.footer__menu {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.footer__menu a {
    color: white;
}

.footer__menu i {
    padding-right: 10px;
}

.fa-handshake-angle {
    font-size: 12px;
}