@charset "UTF-8";
/* mixin pour l'apparition des menus restaurants */
* {
  box-sizing: border-box;
}

/* loader 

.loader{     

    position: fixed;
    z-index: 2;         
    background: rgba(126, 126, 126, 0.5);
    color: var(--rose);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    i{         
        position: absolute;         
        top: 50%;         left: 50%;         
        transform: translate(-50%,-50%);         
        transform-origin: 0% 0%;     }     
        .gros{         
            animation: rotateLtR 2s infinite;
            font-size: 60px;      
        }

        .petit{         
            animation: rotateRtL 2s infinite;
            font-size: 20px;
            color: var(--violet);

        }          
        animation: loading 2s forwards; }   
        @keyframes loading{     
            0%{         opacity: 1;    }     
            75%{         opacity: 1; z-index: 2;     }     
            100%{         opacity: 0; z-index: 0;     } 
        }  

        @keyframes rotateLtR{     
            0%{         rotate: 0;     }     
            100%{         rotate: 360deg;     } 
        } 

        @keyframes rotateRtL{     
            0%{         rotate: 0;     }     
            100%{         rotate: -360deg;     } 
        }     

        */
.loader {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(126, 126, 126, 0.5);
  animation: loading 2s forwards;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid;
  border-color: transparent transparent var(--rose) var(--rose);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 35px;
  height: 35px;
  border-color: var(--violet) var(--violet) transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
/* Animation Check  */
.menus__animation {
  width: 0px;
  height: 75px;
  background-color: var(--vert__clair);
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.menus__animation svg {
  rotate: 0;
  transition: all 0.5s ease-in-out;
}

.menus__cartes:hover .menus__animation {
  width: 64px;
}
.menus__cartes:hover .menus__animation svg {
  rotate: 360deg;
}

/* Coeurs ce code permet d'animé un code un svg permettant un dégradé. La répétition pourrait être évité avec une autre animation*/
.anim {
  width: 22px;
  overflow: visible;
  cursor: pointer;
}
.anim path {
  fill: url(#myGradient);
  stroke: black;
  stroke-width: 15px;
}
.anim stop {
  transition: all 0.25s ease-in-out;
}
.anim:hover #myGradient stop:first-child {
  stop-color: var(--rose);
}
.anim:hover #myGradient stop:last-child {
  stop-color: var(--violet);
}
.anim:hover path {
  stroke-width: 0;
  transition: all 0.25s ease-in-out;
}

.anim2 {
  width: 22px;
  overflow: visible;
  cursor: pointer;
}
.anim2 path {
  fill: url(#myGradient2);
  stroke: black;
  stroke-width: 15px;
}
.anim2 stop {
  transition: all 0.25s ease-in-out;
}
.anim2:hover #myGradient2 stop:first-child {
  stop-color: var(--rose);
}
.anim2:hover #myGradient2 stop:last-child {
  stop-color: var(--violet);
}
.anim2:hover path {
  stroke-width: 0;
  transition: all 0.25s ease-in-out;
}

.anim3 {
  width: 22px;
  overflow: visible;
  cursor: pointer;
}
.anim3 path {
  fill: url(#myGradient3);
  stroke: black;
  stroke-width: 15px;
}
.anim3 stop {
  transition: all 0.25s ease-in-out;
}
.anim3:hover #myGradient3 stop:first-child {
  stop-color: var(--rose);
}
.anim3:hover #myGradient3 stop:last-child {
  stop-color: var(--violet);
}
.anim3:hover path {
  stroke-width: 0;
  transition: all 0.25s ease-in-out;
}

.anim4 {
  width: 22px;
  overflow: visible;
  cursor: pointer;
}
.anim4 path {
  fill: url(#myGradient4);
  stroke: black;
  stroke-width: 15px;
}
.anim4 stop {
  transition: all 0.25s ease-in-out;
}
.anim4:hover #myGradient4 stop:first-child {
  stop-color: var(--rose);
}
.anim4:hover #myGradient4 stop:last-child {
  stop-color: var(--violet);
}
.anim4:hover path {
  stroke-width: 0;
  transition: all 0.25s ease-in-out;
}

/* boutons  */
.animation__boutons {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
}

.animation__boutons:before {
  content: "";
  background: linear-gradient(30deg, var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose));
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.animation__boutons:active:after {
  background: transparent;
}

.animation__boutons:hover:before {
  opacity: 1;
}

.animation__boutons:after {
  background: linear-gradient(162deg, var(--rose) 0%, var(--violet) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.animation__boutons:hover:after {
  background: linear-gradient(162deg, var(--rose) 0%, var(--violet) 100%);
  transition: all 0.25s ease-in-out;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* Vignettes des restaurants */
.restaurants__vignette {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
}

.restaurants__vignette:before {
  content: "";
  background: linear-gradient(30deg, var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose), var(--violet), var(--rose));
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
}

.restaurants__vignette:active:after {
  background: transparent;
}

.restaurants__vignette:hover:before {
  opacity: 1;
}

.restaurants__vignette:after {
  background: whitesmoke;
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.restaurants__vignette:hover:after {
  background: white;
  transition: all 0.25s ease-in-out;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*menus restaurants apparition*/
.entrees .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.plats .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.plats .card {
  animation-delay: 500ms;
}

.desserts .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.desserts .card {
  animation-delay: 1s;
}

/* Footer */
.footer__menu a:hover {
  color: var(--rose);
  transition: all 0.25s ease-in-out;
}

.header {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: inset 0px -20px 20px -8px rgba(0, 0, 0, 0.15);
}
.header__logo {
  height: 40px;
  margin: auto;
}

.footer {
  background-color: var(--noir);
  display: flex;
  flex-direction: column;
}
.footer__logo {
  padding: 20px;
  margin: 0;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.footer__menu a {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
.footer__menu i {
  padding-right: 10px;
}

.fa-handshake-angle {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .footer__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 35px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__logo {
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 57px;
    padding-bottom: 20px;
    padding-right: 60px;
  }
  .footer__menu {
    gap: 0;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-right: 70px;
  }
  .footer__menu a {
    gap: 0;
    padding-left: 12px;
  }
  .footer__mentions {
    margin-left: 50px;
  }
}
* {
  font-family: "roboto";
}

/** Paris, belleville **/
.localisation {
  background: var(--gris__milieu);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--noir);
}

.localisation i {
  font-size: 24px;
  padding-right: 15px;
}

/** Réservez/explorer **/
.explorer {
  display: flex;
  flex-direction: column;
  background: var(--gris);
  padding: 39px 50px 57px 50px;
  text-align: center;
  justify-content: center;
}
.explorer__titre {
  margin: 0;
  padding: 0px 15px 15px 15px;
  font-size: 24px;
  font-weight: bold;
}
.explorer__texte {
  margin: 0;
  padding: 0px 15px 25px 15px;
  font-size: 18px;
  font-weight: lighter;
  font-weight: 300;
}
.explorer__bouton {
  color: white;
  padding: 13px 18px 13px 18px;
  background: var(--rose);
  background: linear-gradient(162deg, var(--rose) 0%, var(--violet) 100%);
  margin: auto;
  border-radius: 30px;
  font-size: 16px;
  font-weight: normal;
}

/** Fonctionnement menu **/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-bottom: 68px;
}
.fonctionnement__titre {
  padding-top: 24px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 26px;
}
.fonctionnement__menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 35px;
  padding-right: 20px;
}
.fonctionnement__card {
  background: var(--gris);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__numero {
  background: var(--violet);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -14px;
}
.fonctionnement__icone {
  font-size: 14px;
  color: var(--gris__fonce);
  font-size: 24px;
}

.fa-store {
  color: var(--violet);
}

/** Restaurants en vignettes **/
.restaurants {
  background: var(--gris);
  padding-bottom: 90px;
}
.restaurants__titre {
  font-size: 26px;
  font-weight: 800;
  padding-left: 25px;
  margin-bottom: 25px;
  padding-top: 70px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.restaurants__vignette {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  position: relative;
}
.restaurants__image {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurants__nouveau {
  background: var(--vert__clair);
  color: var(--vert__fonce);
  font-weight: 500;
  padding: 7px 15px;
  border-radius: 3px;
  position: absolute;
  right: 25px;
  top: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants__infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.restaurants__texte {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.restaurants__nom {
  margin: 3px;
}
.restaurants__localisation {
  font-size: 17px;
  font-weight: 300;
  margin: 3px;
}

.coeur {
  font-size: 24px;
  padding-right: 20px;
}

@media (min-width: 1024px) {
  .localisation {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .localisation i {
    font-size: 18px;
  }
  .explorer__titre {
    font-size: 40px;
  }
  .explorer__texte {
    font-size: 18px;
  }
  .fonctionnement {
    padding-left: 25px;
    padding-right: 25px;
  }
  .fonctionnement__titre {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
  }
  .fonctionnement__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  .fonctionnement__card {
    gap: 15px;
    width: 30%;
  }
  .fonctionnement__icone {
    font-size: 20px;
  }
  .fonctionnement__texte {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 25px;
  }
  .restaurants {
    padding-bottom: 30px;
  }
  .restaurants__titre {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
  }
  .restaurants__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 25px;
  }
  .restaurants__vignette {
    width: 35%;
    height: 35%;
  }
  .restaurants__texte {
    padding-top: 8px;
    margin: 0;
  }
  .restaurants__nom {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .restaurants__localisation {
    font-size: 17px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .fonctionnement {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .fonctionnement__titre {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    padding-left: 180px;
    font-weight: bold;
    font-size: 24px;
  }
  .fonctionnement__menu {
    justify-content: flex-start;
    padding-left: 194px;
  }
  .fonctionnement__card {
    margin: 0;
    padding: 0;
    width: 322px;
    height: 72px;
  }
  .restaurants__titre {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 180px;
    padding-top: 30px;
    padding-bottom: 28px;
    font-weight: bold;
    font-size: 24px;
  }
  .restaurants__card {
    margin: 0;
    padding: 0;
    gap: 50px 100px;
    padding-left: 15px;
  }
  .restaurants__infos {
    margin: 0;
    padding: 0;
    height: 78px;
  }
  .restaurants__texte {
    padding-left: 18px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: -30px;
  position: relative;
  border-radius: 40px 40px 0 0;
  padding-bottom: 40px;
}
.menu__photo {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.menu__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Shrikhand", cursive;
}
.menu__titre h1 {
  font-size: 28px;
  font-weight: normal;
}
.menu__icone {
  font-size: 24px;
}

.menus {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 35px;
}
.menus__complets {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menus__titre {
  font-size: 16px;
  font-weight: 350;
  padding-top: 20px;
  position: relative;
}
.menus__titre::after {
  content: "";
  width: 35px;
  height: 5px;
  position: absolute;
  bottom: -12px;
  left: 0;
}
.menus__cartes {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menus__infos {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menus__plats {
  margin: 5px;
}
.menus__details {
  font-size: 15px;
  margin: 5px;
}
.menus__check {
  display: flex;
}
.menus__prix {
  font-weight: bold;
  padding-top: 20px;
  padding-right: 5px;
}
.menus__plats, .menus__details, .menus__textes {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commander {
  color: white;
  padding: 16px 48px 16px 48px;
  background: var(--rose);
  background: linear-gradient(162deg, var(--rose) 0%, var(--violet) 100%);
  margin: auto;
  border-radius: 30px;
  font-size: 16px;
  font-weight: normal;
}

@media (min-width: 1440px) {
  .menu {
    margin-left: 200px;
    margin-right: 200px;
  }
  .menu__photo {
    width: 100%;
    height: 393px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu__titre {
    padding-top: 61px;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .menus {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
:root {
  --rose:#ff79da;
  --violet:#9356dc;
  --gris:#F6F6F6;
  --gris__milieu:#EAEAEA;
  --gris__fonce:#7E7E7E;
  --noir:#353535;
  --vert__clair:#99E2D0;
  --vert__fonce:#008766;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=main.css.map */