@use "mixins" as *;


.footer {
    background-color: var(--noir);
    @include flex-column;
    position: relative;   
    
    &__logo {
        padding: 20px;
        margin: 0;
        color: white;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
    }
    
    &__menu {
        
        @include flex-column;
        gap: 10px;
        padding-left: 20px;
        padding-bottom: 30px;
    }
    
    &__menu a {
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
    }
    
    &__menu i {
        padding-right: 10px;
    }    
}

.fa-handshake-angle {
    font-size: 12px;
}

@media (min-width: 1024px) {
    
    .footer {       
        
        &__logo{
            display: flex;
            justify-content: center;
            font-size: 20px;
        }
        
        &__menu{
            @include reset-marge; 
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 35px;
            padding-bottom: 20px;    
        }
    }
}



@media (min-width: 1440px){
    
    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        
        &__logo{
            font-size: 18px;
            @include reset-marge;
            padding-top: 57px;
            padding-bottom: 20px;
            padding-right: 60px;
        }
        
        &__menu{
            gap: 0;
            @include reset-marge;
            padding-top: 50px;
            padding-right: 70px;        
        }
        
        &__menu a {
            
            gap: 0;
            padding-left: 12px;  
        }
        
        &__mentions {       
            
            margin-left: 50px;        
        }
    }
}

