.header {
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: inset 0px -20px 20px -8px rgba(0, 0, 0, 0.15);
    
    &__logo {    
        height: 40px;
        margin: auto;    
    }
}