@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin bouton-degrade {
    background: #ff79da;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    margin: auto;
    border-radius: 30px;
    font-size: 16px;
    font-weight: normal;
}

@mixin reset-marge {
    margin: 0;
    padding: 0;
}

@mixin display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}