:root {
    --rose:#ff79da;
    --violet:#9356dc;
    --gris:#F6F6F6;
    --gris__milieu:#EAEAEA;
    --gris__fonce:#7E7E7E;
    --noir:#353535;
    --vert__clair:#99E2D0;
    --vert__fonce:#008766;
}